body{
  overflow-x: hidden;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.nav-colored {
   background-color:#fff;
}
.nav-transparent {
  background-color:rgba(238,238,238,0.2);
}
.navbar .nav-item{
  padding:0 16px;
}
.navbar .navbar-brand{
  font-size: 30px;
}
.navbar button{
  border: none;
  float: right;
}
.cov{
  text-align: center;
}
#showcase{
  background: url('../img/showcase_find_bestman.jpeg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  margin-top: 70px;
  box-shadow: 0 1px 5px #0008;
}
#showcase .cov{
  width:100%;
  height:100%;
}
#showcase .content{
  margin-top:100px;
}
#showcase .container{
  width: 35vw;
}
#showcase .content .searchbar{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#showcase .content h1{
  font-size: 3.5rem;
  font-weight: 1000;
  text-transform: uppercase;
  background: rgba(238,238,238,0.5);
}
#showcase .content p {
  color: #555;
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
#showcase .content p a{
  color: #555;
}
#prefrence{
  border: 2px solid #66c;
  background: transparent;
  color: black;
}
#prefrence:hover{
  background: rgb(0,123,255);
  color: #fff;
}
#message{
  padding: 1rem 0;
  background-color: rgba(204,204,204,0.2);
  font-family: sans-serif;
}
#message .col{
  padding: 0 4rem;
}
#message h1{
  padding: 1rem 0 0 1rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 200;
}
#message p{
  padding: 0 0 1rem 1rem;
}
.main-content{
  margin-top: 1rem;
}
.main-content .row p{
  text-align: center;
}
.main-content .card-img-top{
  width: 100%;
  height: 200px;
}
#row1 .card{
  margin-bottom: 30px;
}

.main-content .card{
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
} 
.main-content .card:hover{
  box-shadow: 0 10px 20px #0008;
}
#links{
  padding:15px 0;
  margin-top: 3rem;
  background: #333;
  color: #fff;
  text-align: center;
}
#links p{
  color:#00ddff;
}
#links a{
  color:#fff;
  text-decoration: none;
}
#links a:hover{
  color:#0099ff;
}
#footer{
  padding:20px;
  background-color: #222;
}
#footer p{
  margin:0;
}
