body{
    background: url('../img/14.jpeg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
.cover{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
}
.con{
    width:35%;
    margin:auto;
    padding:20px;
    border-radius: 10px;
    background: #fff9;
    box-shadow: 0 5px 10px #000;
}
.con label{
    font-weight:bold;
}